{{extend 'layout.html'}}
<div class="col-md-12 modal-body text-center" style="background:url(images/hola.jpg)">
    <h1>
        Creacion de producto
    </h1>
</div>
<form class="form-horizontal" method="POST">
   <section class="col-xs-12">
    {{if invid != None:}}
    <p>
        Producto agregado Exitosamente {{=invid}}
    </p>
    {{pass}}
   </section>
   <section class="col-xs-12 col-md-12 modal-body">
    <article class="col-xs-12 col-md-2 modal-body text-center">
        <h3>
          <span class="label label-primary">Producto:</span>
        </h3>
    </article>
    <article class="col-xs-12 col-md-4 modal-body">
         <input type="text" class="form-control" name="producto">
    </article>
   </section>
   <section class="col-xs-12 col-md-12 modal-body">
    <article class="col-xs-12 col-md-12 modal-body">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
            <input type="submit" class="form-control btn btn-success" name="Guardar"></input>
        </div>
    </article>
   </section>
</form>
